@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@300;400;700&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #3DB2FF;
    --footer-color: #FFB830;
}

body {
    font-family: 'Tajawal', sans-serif;
    text-align: center;
}

a {
    text-decoration: none;
}

/* Header */

header {
    padding: 1rem;
    background-color: var(--primary-color);
    color: #fff;
}

header h1 {
    text-align: initial;
}

nav {
    text-align: right;
}

nav>a {
    padding: 0 0.5rem;
}

nav>a:hover {
    color: black;
}

/* Main */

main {
    margin: 0 0 7rem;
}

main h1 {
    margin: 1rem;
}

/*  Input */

.input-label {
    font-size: larger;
    color: #FF2442;;
    width: 256px;
}

.input-label p {
    font-size: larger;
    margin: 0.5rem;
}

.input-text {
    font-size: 14px;
    outline: #fff;
    padding: 0.6rem 1rem;
    margin: 1rem;
    border: 2px solid var(--primary-color);
    border-radius: 0.5rem;
    width: 100%;
    max-width: 258px;
}

.btn-check {
    background: var(--primary-color);
    color: #fff;
    border: 1px solid var(--primary-color);
    padding: 0.7rem 1rem;
    border-radius: 0.5rem;
    font-size: large;
    cursor: pointer;
    outline: #fff;
    margin: 1rem auto;
    display: block;
    font-family: 'Tajawal', sans-serif;
}

.btn-check:hover {
    background-color: white;
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
}

.output {
    font-size: x-large;
    margin: 1rem;
}

/* Footer */

footer {
    text-align: center;
    background-color: var(--footer-color);
    padding: 2rem;
}

a {
    color: white;
}

i {
    color: black;
    margin: 15px;
    font-size: 1.5rem;
}

i:hover {
    color: white;
}